html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  color: rgb(255,255,255);
  background-color: rgb(50,50,50);
  font-size: 1em;
  overflow: hidden;
}
h1, h2 {
  position: relative;
  left: 2.5%;
  font-family: 'Creepster', cursive;
  font-size: 2.5em;
}
p {
  width: 50%;
  position: absolute;
  left: 27%;
  top: 5%;
  font-family: 'Arvo', serif;
  font-size: 1.1em;
  line-height: 1.5em;
  word-spacing: .1em;
}
a:link, a:visited {
  color: rgb(0,255,0);
  font-family: 'Creepster', cursive;
  text-decoration: none;
}
a:hover {
  color: rgb(0,255,0);
}
ul {
  position: absolute;
  top: 8%;
  list-style: none;
}
nav a:link, nav a:visited {
  color: rgb(255,255,255);
  font-family: 'Creepster', cursive;
  font-size: 1.5em;
  text-decoration: none;
}
nav a:hover {
  color: rgb(0,255,0);
}
nav a.current {
  text-decoration: underline;
}

/* ////SLIME//// */
/* modified from Irem Lopsum's pen at https://codepen.io/iremlopsum/pen/yeERRq */
.rectangle {
  width: 90%;
  height: 20%;
  background-color: #00FF00;
  position: absolute;
  left: 17%;
  top: 0;
}

.toggle-buttons {
  width: 80%;
  height: 100%;
  position: absolute;
  left: 20%;
  top: 0;
  z-index: 1;
  -webkit-filter: url("#goo");
          filter: url("#goo");
  text-align: center;
  line-height: 100px;
  color: #00FF00;
}
.toggle-buttons .toggle-btn {
  width: 400px;
  height: 200px;
  background-color: #00FF00;
  left: 50%;
  top: 7.25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 20%;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
.toggle-buttons .drop {
  width: 100px;
  height: 100px;
  background-color: #00FF00;
  left: 50%;
  top: 7.25%;
  -webkit-transform: translate(-50%, -50%) rotate(-135deg);
          transform: translate(-50%, -50%) rotate(-135deg);
  position: absolute;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  -webkit-animation: drop 5s ease-in infinite;
          animation: drop 5s ease-in infinite;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.toggle-buttons:nth-of-type(2) .toggle-btn {
  width: 400px;
  height: 200px;
  background-color: #00FF00;
  left: 30%;
  top: 7.25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 20%;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
.toggle-buttons:nth-of-type(2) .drop {
  width: 100px;
  height: 100px;
  background-color: #00FF00;
  left: 30%;
  top: 7.25%;
  -webkit-transform: translate(-50%, -50%) rotate(-135deg);
          transform: translate(-50%, -50%) rotate(-135deg);
  position: absolute;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  -webkit-animation: drop 8s ease-in infinite;
          animation: drop 8s ease-in infinite;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.toggle-buttons:nth-of-type(3) .toggle-btn {
  width: 400px;
  height: 200px;
  background-color: #00FF00;
  left: 90%;
  top: 7.25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 20%;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
.toggle-buttons:nth-of-type(3) .drop {
  width: 100px;
  height: 100px;
  background-color: #00FF00;
  left: 90%;
  top: 7.25%;
  -webkit-transform: translate(-50%, -50%) rotate(-135deg);
          transform: translate(-50%, -50%) rotate(-135deg);
  position: absolute;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  -webkit-animation: drop 4s ease-in infinite;
          animation: drop 4s ease-in infinite;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.toggle-buttons:nth-of-type(4) .toggle-btn {
  width: 400px;
  height: 200px;
  background-color: #00FF00;
  left: 15%;
  top: 7.25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 20%;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
.toggle-buttons:nth-of-type(4) .drop {
  width: 100px;
  height: 100px;
  background-color: #00FF00;
  left: 15%;
  top: 7.25%;
  -webkit-transform: translate(-50%, -50%) rotate(-135deg);
          transform: translate(-50%, -50%) rotate(-135deg);
  position: absolute;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  -webkit-animation: drop 5.5s ease-in infinite;
          animation: drop 5.5s ease-in infinite;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}


@-webkit-keyframes drop {
  65% {
    background-image: linear-gradient(315deg, #00FF00 70%, #007F00);
  }
  75% {
    -webkit-transform: translate(-50%, 100%) rotate(-135deg);
            transform: translate(-50%, 100%) rotate(-135deg);
    border-bottom-right-radius: 0%; background-image: linear-gradient(315deg, #00FF00 68%, #007F00);
  }
  100% {
    -webkit-transform: translate(-50%, 1300px) rotate(-135deg);
            transform: translate(-50%, 1300px) rotate(-135deg);
    border-bottom-right-radius: 100%; background-image: linear-gradient(315deg, #00FF00 60%, #007F00);
  }
}

@keyframes drop {
  70% {
    background-image: linear-gradient(315deg, #00FF00 72%, #007F00);
  }
  75% {
    -webkit-transform: translate(-50%, 100%) rotate(-135deg);
            transform: translate(-50%, 100%) rotate(-135deg);
    border-bottom-right-radius: 0%; background-image: linear-gradient(315deg, #00FF00 68%, #007F00);
  }
  100% {
    -webkit-transform: translate(-50%, 1300px) rotate(-135deg);
            transform: translate(-50%, 1300px) rotate(-135deg);
    border-bottom-right-radius: 100%; background-image: linear-gradient(315deg, #00FF00 60%, #007F00);
  }
}

/* ////CAULDRON///// */
img.cauldron {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 50%;
  left: 35%;
}

div.bubble:nth-of-type(1) {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #00FF00;
  top: 53.5%;
  left: 50%;
  -webkit-transition: top 4s ease-in;
          transition: top 4s ease-in;
}

div.bubble:nth-of-type(2) {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #00FF00;
  top: 54%;
  left: 45%;
  -webkit-transition: top 4.5s ease-in 1s;
          transition: top 4.5s ease-in 1s;
}

div.bubble:nth-of-type(3) {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #00FF00;
  top: 55%;
  left: 45%;
  -webkit-transition: top 5s linear;
          transition: top 5s linear;
}

div.bubble:nth-of-type(4) {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #00FF00;
  top: 55%;
  left: 55%;
  -webkit-transition: top 4s linear 3s;
          transition: top 4s linear 3s;
}

div.bubble:nth-of-type(5) {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #00FF00;
  top: 55%;
  left: 42%;
  -webkit-transition: top 5s linear;
          transition: top 5s linear;
}

div.bubble:nth-of-type(6) {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #00FF00;
  top: 53.5%;
  left: 52%;
  -webkit-transition: top 5s linear 2s;
          transition: top 5s linear 2s;
}

div.hover-here:hover .bubble {
  top:-50%;
}

/* /////EYE//// */

div.eye {
  width: 500px;
  height: 500px;
  margin: 2% auto;
  background: url('../img/eyesprites.png') left center;
  animation: play .9s steps(18) infinite;
}

@keyframes play {
	100% { background-position: -9000px; }
}
