body {
  background-color: rgb(50,50,50);
}

img {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 50%;
  left: 35%;
}

div.bubble:nth-of-type(1) {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #00FF00;
  top: 53.5%;
  left: 50%;
  -webkit-transition: top 4s ease-in;
          transition: top 4s ease-in;
}

div.bubble:nth-of-type(2) {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #00FF00;
  top: 54%;
  left: 45%;
  -webkit-transition: top 4.5s ease-in 1s;
          transition: top 4.5s ease-in 1s;
}

div.bubble:nth-of-type(3) {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #00FF00;
  top: 55%;
  left: 45%;
  -webkit-transition: top 5s linear;
          transition: top 5s linear;
}

div.bubble:nth-of-type(4) {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #00FF00;
  top: 55%;
  left: 55%;
  -webkit-transition: top 4s linear 3s;
          transition: top 4s linear 3s;
}

div.bubble:nth-of-type(5) {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #00FF00;
  top: 55%;
  left: 42%;
  -webkit-transition: top 5s linear;
          transition: top 5s linear;
}

div.bubble:nth-of-type(6) {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #00FF00;
  top: 53.5%;
  left: 52%;
  -webkit-transition: top 5s linear 2s;
          transition: top 5s linear 2s;
}

div.hover-here:hover .bubble {
  top:-50%;
}
