body {
  background-color: rgb(50, 50, 50);
}

div {
  width: 500px;
  height: 500px;
  margin: 2% auto;
  background: url('../img/eyesprites.png') left center;
  animation: play .9s steps(18) infinite;
}

@keyframes play {
	100% { background-position: -9000px; }
}
